// @import "header.scss";
.bg-films {
    background-image: linear-gradient( #B3B576, black);
    width: 100%;
}
.bg-tv {
    background-image: linear-gradient( #AB7373, black);
    width: 100%;
}

.bg-anime {
    background-image: linear-gradient( #4E66BE, black);
    width: 100%;
}

.bg-book {
    background-image: linear-gradient( #2C6E5B, black);
    width: 100%;
}


.wrap {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .search-form{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 70px;
        height: 20px;
        #genre__icon {
            display: none;
        }
       
    }
    .content {
        max-width: 80%;
        min-height: 2200px;
        min-width: 80%;
        background-color: white;
        padding:0 50px;
        box-sizing: border-box;
    }
    .genre{
        width: 18%;
        background-color: white;
        box-sizing: border-box;
        padding: 20px 15px;
    }
}

.container-films{
    width: 95%;
    margin: 50px auto;

    .films-films__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .films-films__item{
            width: 22%;
            .poster{
                width: 100%;
                height: 270px;
            cursor: pointer;
                margin-bottom: 15px;
            }
        span {
            display: block;
            font-weight: 600;
            margin-bottom: 50px;
            text-align: center;
        }
        .films-img {
            position: relative;

            width: 180px;
            height: 270px;
            margin-bottom: 10px;

            
        }
        .films-films__title-vote_average {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
           & .star {
            width: 22px;
           }
        }

        .more {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 270px;
            background-color: rgba(0,0,0,.5);
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            opacity: 0;
            transition: all .5s;
            -webkit-transition: all .5s;
            -o-transition: all .5s;
            .link {
                display: block;
                // position: absolute;
                // bottom: 15px;
                text-decoration: none;
                padding: 15px;
                width: 50%;
                color: #fff;
                background: #000;
                border-radius: 5px;
                margin: 0 auto;
                margin-bottom: 10px;
                
                transition: all 0.4s ease-in-out;
                &:hover {
                    background: #454545;
                    color: #fff;
                }
            }
            }
            &:hover .more {
                opacity: 1;
            }
        }
    }
}

// checkbox
.chek-list {
    display: flex;
    flex-direction: column;
    & input {
        margin-bottom: 10px;
    }
}


// section genre on mobile

.genre-mobile {
    width: 200px;
    box-sizing: border-box;
    position: fixed;
    background-color: white;
    right: 0;
    transform: translateX(100%);
    transition: all 0.2s;
    h3 {
        padding-left: 20px;

    }
    .chek-list {
        padding-left: 20px;
    }
    &.activeGen {
        transform: translateX(0);
    transition: all 0.4s;

    }
    .genreClose {
        cursor: pointer;
    }
}
// .blur__genre {
//     right: -1100px;
//     width: 100vw;
//     height: 100vh;
//     backdrop-filter: blur(2px);
//     z-index: 10000;
//     position: fixed;
    
// }

// not found err

.not__found {
    text-align: center;
}

@import "../scss/@media/main.scss"











