// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
// body
body {
    background-image: linear-gradient( #602BA0, black);
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
// end body

// header
.header{
    background-color: #282828;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    color: white;

    }
    &-logo__img {
        width: 85px;
    }
    &-nav {
        width: 60%;
        display: flex;
        justify-content: space-around;
    }
    &-nav__link {
        font-size: 20px;
        color: #FFFFFF99;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            color: white;
        }
    }
    &-login__img {
        height: 32px;
        margin-right: 10px;
    }
    &-login__text {
        font-size: 20px;
        text-decoration: none;
        color: white;
        cursor: pointer;
    }
    &-login {
        display: flex;
        align-items: center;
    }
    
}
 .active {
    color: rgb(159, 141, 238);
 } 

// hamburger menu
 .burger__btn {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    position: relative;
    display: none;
    cursor: pointer;
    &::after{
        content: '';
        position: absolute;
        top: 0;
        width: 20px;
        background-color: white;
        height: 2px;
    }
    span {
        position: absolute;
        top: 9px;
        width: 20px;
        background-color: white;
        height: 2px;
    }
    &::before{
        content: '';
        position: absolute;
        bottom: 0;
        width: 20px;
        background-color: white;
        height: 2px;
    }
}
// end header

// search
.search{
    &-search__input {
        border: 0.2px solid #000;
        border-radius: 20px;
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 5px 5px 5px 40px;
        height: 20px;
        background: url("../img/Search.svg") no-repeat 3px 1px;
        background-size: auto 90%;
    }
}

// end search

// // // end home

// footer
    .footer{
        background-color:#575757;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 75px;
        img{
            width: 60px;
            cursor: pointer;
        }
    }
// end footer