@import "header.scss";

// body
body {
    // background-image: linear-gradient( #602BA0, black);
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
// end body



// home
.container{
    width: 85%;
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 1px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    &-section-top {
        height: 500px;
        background-color: #E5E5E5;
        margin-bottom: 100px;
        .container{
            padding-top: 20px;
        }
    }
}

// 

// 


//  Section Movie

    @mixin section__list {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
      }
    }
    @mixin section__item {
        position: relative;
        margin-right: 10px;
        overflow-y: hidden;
        width: 400px;
            img{
                width: 200px;
                height: 300px;
                margin-bottom: 15px;
                cursor: pointer;
                
            }
    }
    @mixin section__title {
        display: block;
        font-weight: 600;
    }
   

    .movie {
        &-movie__list {
            @include section__list
        }
        &-movie__item {
            @include section__item

        }
        &-movie__title{
            @include section__title

        }
    }
//  END Section Movie

//   Section Series
.series {
    &-series__list {
        @include section__list
    }
    &-series__item {
        @include section__item

    }
    &-series__title{
        @include section__title

    }
}
//  END Section Series

//   anime Series
.anime {
    &-anime__list {
        @include section__list
    }
    &-anime__item {
        @include section__item

    }
    &-anime__title{
        @include section__title

    }
}
//  END anime Series


// end home

.effect-to-top {
    background-color: grey;
    opacity: 0.7;
    width: 100%;
    height: 300px;
    top: 300px;
    left: 0;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 1s linear;
  }
  
  .movie-movie__item:hover .effect-to-top {
    transform: translateY(0);
  }







/* Настройки маркированного списка */
// .hover-effect-cover {
//     // overflow-y: hidden;
//     height: 300px;
// }
// // .hover-effect-cover  {
// //     position: relative;
// //     background-color: #fff;
// //     margin: 0;
// //     border: 5px solid #fff;
// //     box-shadow: 1px 3px 1px 0 rgba(0, 0, 0, 0.08);
// // }


// /* Заголовок, текст и ссылка */

// .hover-effect-cover  a {
//     display: block;
//     text-decoration: none;
//     padding: 15px;
//     color: #fff;
//     background: #000;
//     border-radius: 5px;
//     margin: 0 auto;
//     transition: all 0.4s ease-in-out;
// }
// .hover-effect-cover  a:hover {
//     background: #454545;
//     color: #fff;
// }

// /* Выезжающий блок с текстом для панели снизу вверх */
// // .hover-effect-cover li >
//  div.effect-to-top {
//     width: 100%;
//     height: 84.5%;
//     position: absolute;
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
// }
// .hover-effect-cover:hover > div.effect-to-top {
//     position: absolute;
//     overflow: hidden;
//     top: 0;
//     left: 0;
// }
// .hover-effect-cover  div.effect-to-top {
//     opacity: 0;
//     background-color: rgba(0, 0, 0, 0.3); /* Фон блока при наведении */
//     transition: all 0.4s ease-in-out;
//     color: #fff;
//     transform: translate(0px, 250px) rotate(0deg); /* Направление выезжающей панели */
// }
// .hover-effect-cover:hover div.effect-to-top {
//     opacity: 1;
//     transform: translate(0px, 0px) rotate(0deg);
// }